@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@Html.AntiForgeryToken()
<div class="page-inner">
    <div class="page-header">
        <h3 class="fw-bold mb-3">Users</h3>
        <ul class="breadcrumbs mb-3">
            <li class="nav-home">
                <a href="#">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a href="#">Admin</a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a href="#">Users</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title">Users Information</h4>
                    <button class="btn btn-primary btn-round ms-auto"
                            data-bs-toggle="modal"
                            data-bs-target="#addRowModal">
                        <i class="fa fa-plus"></i>
                        Add Users
                    </button>
                </div>
            </div>
            <div class="row">
                <!-- Modal -->
                <div class="modal fade"
                     id="addRowModal"
                     tabindex="-1"
                     role="dialog"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header border-0">
                                <h5 class="modal-title">
                                    <span id="h_name" class="fw-mediumbold"> New User</span>
                                    @* <span class="fw-light"> Row </span> *@
                                </h5>
                                @* <button type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>*@
                            </div>
                            <div class="modal-body">
                                <p class="small">
                                    Create a new row using this form, make sure you
                                    fill them all
                                </p>
                                <form>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <input type="hidden" id="userid" />
                                            <div class="form-group form-group-default">
                                                <label>Employee ID</label>
                                                <input id="employee_id"
                                                       type="text"
                                                       class="form-control"
                                                       placeholder="Enter Employee ID" />

                                            </div>
                                            <div class="form-group form-group-default">
                                                <label>Username</label>
                                                <input type="email"
                                                       class="form-control"
                                                       id="username"
                                                       placeholder="Enter Username" />
                                            </div>
                                            <div class="form-group form-group-default">
                                                <label>Password</label>
                                                <input type="password"
                                                       class="form-control"
                                                       id="password"
                                                       placeholder="Enter Password" />
                                            </div>
                                            <div class="form-group form-group-default">
                                                <label>Frist Names</label>
                                                <input type="text"
                                                       class="form-control"
                                                       id="firstName"
                                                       placeholder="Enter Frist Name" />


                                            </div>
                                            <div class="form-group form-group-default">
                                                <label>Last Names</label>
                                                <input type="text"
                                                       class="form-control"
                                                       id="lastName"
                                                       placeholder="Enter Last Name" />
                                            </div>
                                            <div class="form-group form-group-default">
                                                <label>Email</label>
                                                <input type="email"
                                                       class="form-control"
                                                       id="email"
                                                       placeholder="Enter Email" />
                                            </div>
                                            <div class="form-group form-group-default">
                                                <label>Departments</label>
                                                <select class="form-select"
                                                        id="departments_id">
                                                    <option value="">-- Select an option --</option>
                                                </select>
                                            </div>
                                            <div class="form-group form-group-default">
                                                <label>Phone</label>
                                                <input type="text"
                                                       class="form-control"
                                                       id="phone"
                                                       placeholder="Enter Phone" />
                                            </div>
                                            <div class="form-group form-group-default">
                                                <label>Role</label>
                                                <select class="form-select"
                                                        id="role_id">
                                                    <option value="">-- Select an option --</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer border-0">
                                <button type="button"
                                        id="addUserHandler"
                                        onclick="addUserHandler()"
                                        class="btn btn-primary">
                                    Save
                                </button>
                                <button type="button"
                                        class="btn btn-danger"
                                        data-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End  Modal -->
                <div class="table-responsive">
                    <table id="UsersTable"
                           class="display table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Employee ID</th>
                                <th>Username</th>
                                <th>Name</th>
                                <th>Role</th>
                                <th>Department</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>No.</th>
                                <th>Employee ID</th>
                                <th>Username</th>
                                <th>Name</th>
                                <th>Role</th>
                                <th>Department</th>
                                <th>ACTION</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @* data from Javascript *@

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        // สร้าง Namespace สำหรับเก็บ URL
        var yourApp = yourApp || {};
        yourApp.Urls = yourApp.Urls || {};
        // Base URL ของแอป
        yourApp.Urls.baseUrl = '@Url.Content("~")';
        // URL สำหรับเรียก API GetDepartments
        yourApp.Urls.editUserUrl = '@Url.Action("GetUsers", "Users")';


        var getDep = getDep || {};
        getDep.Urls = getDep.Urls || {};
        getDep.Urls.baseUrl = '@Url.Content("~")';
        getDep.Urls.depUrl = '@Url.Action("GetDepartments", "Departments")';

        var getDep2 = getDep2 || {};
        getDep2.Urls = getDep2.Urls || {};
        getDep2.Urls.baseUrl = '@Url.Content("~")';
        getDep2.Urls.depUrl2 = '@Url.Action("GetRoles", "Roles")';


        var roles = roles || {};
        roles.Urls = roles.Urls || {};
        roles.Urls.baseUrl = '@Url.Content("~")';
        roles.Urls.roleUrl = '@Url.Action("GetRoles", "Roles")';

        var addUser = addUser || {};
        addUser.Urls = addUser.Urls || {};
        addUser.Urls.baseUrl = '@Url.Content("~")';
        addUser.Urls.addUrl = '@Url.Action("InsertUsers", "Users")';

        var editUser = editUser || {};
        editUser.Urls = editUser.Urls || {};
        editUser.Urls.baseUrl = '@Url.Content("~")';
        editUser.Urls.editUrl = '@Url.Action("UpdateUsers", "Users")';

        


    </script>
    <script src="~/js/notify.js"></script>
    <script src="~/js/page/usersPage.js"></script>
}