@* @using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var fullName = HttpContextAccessor.HttpContext?.Session.GetString("FullName");
} *@
@using System.Text.Json
@using Microsoft.AspNetCore.Http
@using BookTruckWeb.Models.DTO
@using BookTruckWeb.connect
@inject BookTruckContext _context
@inject IHttpContextAccessor HttpContextAccessor
@{
    var rowId = HttpContextAccessor.HttpContext?.Session.GetString("RowId");
    var fullName = HttpContextAccessor.HttpContext?.Session.GetString("FullName");
    List<string> menuNames = new List<string>();

    if (!string.IsNullOrEmpty(rowId))
    {
        menuNames = (from role in _context.Roles
                     join uss in _context.Users on role.RowId equals uss.RoleId
                     join role_menu in _context.RoleMenus on role.RowId equals role_menu.RoleId
                     join menu in _context.Menus on role_menu.MenuId equals menu.RowId
                     where uss.RowId.ToString() == rowId && role_menu.Status == 1
                     select menu.MenuName.Trim().ToLower()).ToList(); // Trim และ ToLower เพื่อตัดปัญหาช่องว่างหรือตัวพิมพ์
    }
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Kaiadmin</title>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
          name="viewport" />
    <link rel="icon"
          href="~/img/kaiadmin/favicon.ico"
          type="image/x-icon" />

    <!-- Fonts and icons -->
    <script src="~/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { families: ["Public Sans:300,400,500,600,700"] },
            custom: {
                families: [
                    "Font Awesome 5 Solid",
                    "Font Awesome 5 Regular",
                    "Font Awesome 5 Brands",
                    "simple-line-icons",
                ],
                urls: ["/css/fonts.min.css"],
            },
            active: function () {
                sessionStorage.fonts = true;
            },
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/plugins.min.css" />
    <link rel="stylesheet" href="~/css/kaiadmin.min.css" />
    <link rel="stylesheet" href="~/css/color.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />


    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="~/css/demo.css" />
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <div class="sidebar" data-background-color="dark">
            <div class="sidebar-logo">
                <!-- Logo Header -->
                <div class="logo-header" data-background-color="dark">
                    <a href="index.html" class="logo">
                        <img src="~/img/kaiadmin/logo_light.svg"
                             alt="navbar brand"
                             class="navbar-brand"
                             height="20" />
                    </a>
                    <diวv class="nav-toggle">
                        <button class="btn btn-toggle toggle-sidebar">
                            <i class="gg-menu-right"></i>
                        </button>
                        <button class="btn btn-toggle sidenav-toggler">
                            <i class="gg-menu-left"></i>
                        </button>
                    </diวv>
                    <button class="topbar-toggler more">
                        <i class="gg-more-vertical-alt"></i>
                    </button>
                </div>
                <!-- End Logo Header -->
            </div>

            <div class="sidebar-wrapper scrollbar scrollbar-inner">
                <div class="sidebar-content">
                    <ul class="nav nav-secondary">

                        <!-- HOME MENU -->
                        @if (menuNames.Contains("dashboard"))
                        {
                            <li class="nav-section">
                                <span class="sidebar-mini-icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                                <h4 class="text-section">Home</h4>
                            </li>
                            <li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString().ToLower() == "home" &&
                                     ViewContext.RouteData.Values["action"]?.ToString().ToLower() == "index" ? "active" : "")">
                                <a asp-controller="Home" asp-action="Index">
                                    <i class="fas fa-home"></i>
                                    <p>หน้าหลัก</p>
                                </a>
                            </li>
                        }

                        <!-- OPERATION MENU -->
                        @if (menuNames.Contains("vehicle booking request") || menuNames.Contains("receiving booking") || 
                        menuNames.Contains("closed trucks") || menuNames.Contains("approve"))
                        {
                            <li class="nav-section">
                                <span class="sidebar-mini-icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                                <h4 class="text-section">Operation</h4>
                            </li>

                            @if (menuNames.Contains("vehicle booking request"))
                            {
                                <li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString().ToLower() == "operation" &&
                                         ViewContext.RouteData.Values["action"]?.ToString().ToLower() == "bookingrequest" ? "active" : "")">
                                    <a asp-controller="Operation" asp-action="BookingRequest">
                                        <i class="icon-note"></i>
                                        <p>ทำรายการจองรถ</p>
                                    </a>
                                </li>
                            }

                            @if (menuNames.Contains("receiving booking"))
                            {
                                <li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString().ToLower() == "operation" &&
                                         ViewContext.RouteData.Values["action"]?.ToString().ToLower() == "receivingbooking" ? "active" : "")">
                                    <a asp-controller="Operation" asp-action="ReceivingBooking">
                                        <i class="icon-book-open"></i>
                                        <p>อนุมัติการจอง (1 งาน)</p>
                                    </a>
                                </li>
                            }
                            @if (menuNames.Contains("approve"))
                            {
                                <li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString().ToLower() == "operation" &&
                                         ViewContext.RouteData.Values["action"]?.ToString().ToLower() == "approve" ? "active" : "")">
                                    <a asp-controller="Operation" asp-action="Approve">
                                        <i class="icon-note"></i>
                                        <p>อนุมัติการจอง (หลายงาน)</p>
                                    </a>
                                </li>
                            }
                            @if (menuNames.Contains("closed trucks"))
                            {
                                <li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString().ToLower() == "operation" &&
                                         ViewContext.RouteData.Values["action"]?.ToString().ToLower() == "closedtrucks" ? "active" : "")">
                                    <a asp-controller="Operation" asp-action="ClosedTrucks">
                                        <i class="icon-note"></i>
                                        <p>ปิดงาน / ปิดสถานะรถขนส่ง</p>
                                    </a>
                                </li>
                            }
                        }

                        <!-- MASTER MENU -->
                        @if (menuNames.Contains("customers") || menuNames.Contains("truck type") || menuNames.Contains("temp") || menuNames.Contains("load type") || menuNames.Contains("vehicles"))
                        {
                            <li class="nav-section">
                                <span class="sidebar-mini-icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                                <h4 class="text-section">Master</h4>
                            </li>

                            @if (menuNames.Contains("customers"))
                            {
                                <li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString().ToLower() == "master" &&
                                         ViewContext.RouteData.Values["action"]?.ToString().ToLower() == "customers" ? "active" : "")">
                                    <a asp-controller="Master" asp-action="Customers">
                                        <i class="icon-people"></i>
                                        <p>ลูกค้า</p>
                                    </a>
                                </li>
                            }

                            @if (menuNames.Contains("truck type"))
                            {
                                <li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString().ToLower() == "master" &&
                                         ViewContext.RouteData.Values["action"]?.ToString().ToLower() == "trucktype" ? "active" : "")">
                                    <a asp-controller="Master" asp-action="TruckType">
                                        <i class="icon-grid"></i>
                                        <p>ประเภทยานพาหนะ</p>
                                    </a>
                                </li>
                            }

                            @if (menuNames.Contains("temp"))
                            {
                                <li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString().ToLower() == "master" &&
                                         ViewContext.RouteData.Values["action"]?.ToString().ToLower() == "temp" ? "active" : "")">
                                    <a asp-controller="Master" asp-action="Temp">
                                        <i class="icon-grid"></i>
                                        <p>Temp</p>
                                    </a>
                                </li>
                            }

                            @if (menuNames.Contains("load type"))
                            {
                                <li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString().ToLower() == "master" &&
                                         ViewContext.RouteData.Values["action"]?.ToString().ToLower() == "loadtype" ? "active" : "")">
                                    <a asp-controller="Master" asp-action="LoadType">
                                        <i class="icon-grid"></i>
                                        <p>ประเภทโหลด LOAD</p>
                                    </a>
                                </li>
                            }

                            @if (menuNames.Contains("vehicles"))
                            {
                                <li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString().ToLower() == "master" &&
                                         ViewContext.RouteData.Values["action"]?.ToString().ToLower() == "vehicles" ? "active" : "")">
                                    <a asp-controller="Master" asp-action="Vehicles">
                                        <i class="icon-grid"></i>
                                        <p>ยานพาหนะ</p>
                                    </a>
                                </li>
                            }
                        }

                        <!-- ADMIN MENU -->
                        @if (menuNames.Contains("departments") || menuNames.Contains("roles") || menuNames.Contains("users"))
                        {
                            <li class="nav-section">
                                <span class="sidebar-mini-icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                                <h4 class="text-section">Admin</h4>
                            </li>

                            @if (menuNames.Contains("departments"))
                            {
                                <li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString().ToLower() == "admin" &&
                                         ViewContext.RouteData.Values["action"]?.ToString().ToLower() == "departments" ? "active" : "")">
                                    <a asp-controller="Admin" asp-action="Departments">
                                        <i class="icon-social-dropbox"></i>
                                        <p>แผนก</p>
                                    </a>
                                </li>
                            }

                            @if (menuNames.Contains("roles"))
                            {
                                <li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString().ToLower() == "admin" &&
                                         ViewContext.RouteData.Values["action"]?.ToString().ToLower() == "roles" ? "active" : "")">
                                    <a asp-controller="Admin" asp-action="Roles">
                                        <i class="icon-layers"></i>
                                        <p>Roles</p>
                                    </a>
                                </li>
                            }

                            @if (menuNames.Contains("users"))
                            {
                                <li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString().ToLower() == "admin" &&
                                         ViewContext.RouteData.Values["action"]?.ToString().ToLower() == "users" ? "active" : "")">
                                    <a asp-controller="Admin" asp-action="Users">
                                        <i class="icon-user"></i>
                                        <p>ผู้ใช้งาน</p>
                                    </a>
                                </li>
                            }
                        }

                    </ul>
                </div>
            </div>
            

            

        </div>
        <!-- End Sidebar -->

        <div class="main-panel">

            <header>
                <div class="main-header">
                    <div class="main-header-logo">
                        <!-- Logo Header -->
                        <div class="logo-header" data-background-color="dark">
                            <a href="index.html" class="logo">
                                <img src="~/img/kaiadmin/logo_light.svg"
                                     alt="navbar brand"
                                     class="navbar-brand"
                                     height="20" />
                            </a>
                            <div class="nav-toggle">
                                <button class="btn btn-toggle toggle-sidebar">
                                    <i class="gg-menu-right"></i>
                                </button>
                                <button class="btn btn-toggle sidenav-toggler">
                                    <i class="gg-menu-left"></i>
                                </button>
                            </div>
                            <button class="topbar-toggler more">
                                <i class="gg-more-vertical-alt"></i>
                            </button>
                        </div>
                        <!-- End Logo Header -->
                    </div>
                    <!-- Navbar Header -->
                    <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
                        <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                            <li class="nav-item topbar-icon dropdown hidden-caret d-flex d-lg-none">
                                @* <a class="nav-link dropdown-toggle"
                                data-bs-toggle="dropdown"
                                href="#"
                                role="button"
                                aria-expanded="false"
                                aria-haspopup="true">
                                <i class="fa fa-search"></i>
                                </a>*@
                                <ul class="dropdown-menu dropdown-search animated fadeIn">
                                    <form class="navbar-left navbar-form nav-search">
                                        <div class="input-group">
                                            <input type="text"
                                                   placeholder="Search ..."
                                                   class="form-control" />
                                        </div>
                                    </form>
                                </ul>
                            </li>

                            <li class="nav-item topbar-user dropdown hidden-caret">
                                <a class="dropdown-toggle profile-pic"
                                   data-bs-toggle="dropdown"
                                   href="#"
                                   aria-expanded="false">
                                    <div class="avatar-sm">
                                        <img src="~/img/profile.jpg"
                                             alt="..."
                                             class="avatar-img rounded-circle" />
                                    </div>
                                    <span class="profile-username">
                                        <span class="op-7">Hi,</span>
                                        <span class="fw-bold">@fullName</span>
                                    </span>
                                </a>
                                <ul class="dropdown-menu dropdown-user animated fadeIn">

                                    <li>
                                        <div class="user-box">
                                            <div class="avatar-lg">
                                                <img src="~/img/profile.jpg"
                                                     alt="image profile"
                                                     class="avatar-img rounded" />
                                            </div>
                                            <div class="u-text">
                                                <h4>@fullName</h4>
                                                @* <p class="text-muted">hello@example.com</p> *@
                                                <a href="profile.html"
                                                   class="btn btn-xs btn-secondary btn-sm">View Profile</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                        @*      <a class="dropdown-item" href="#">My Profile</a> *@
                                        @* <div class="dropdown-divider"></div> *@
                                        @* <a class="dropdown-item" href="#">Logout</a> *@
                                        <form asp-controller="Users" asp-action="Logout" method="post" style="display:inline;">
                                            @Html.AntiForgeryToken() <!-- ใส่ Anti-Forgery Token -->
                                            <button type="submit" class="dropdown-item">Logout</button>
                                        </form>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- End Navbar -->
                </div>

            </header>


            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

            <footer class="footer">
                <div class="container-fluid d-flex justify-content-between">
                    <nav class="pull-left">

                    </nav>
                    <div class="copyright">
                        2024, made with <i class="fa fa-heart heart text-danger"></i> by
                        <a href="http://www.themekita.com">SA PAO </a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- Core JS Files -->
    <script src="~/js/core/jquery-3.7.1.min.js"></script> <!-- โหลด jQuery ก่อน -->
    <script src="~/js/core/popper.min.js"></script> <!-- Popper สำหรับ Bootstrap -->
    <script src="~/js/core/bootstrap.min.js"></script> <!-- Bootstrap JS -->
    <!-- jQuery Plugins -->
    <script src="~/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script> <!-- Scrollbar Plugin -->
    <script src="~/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script> <!-- jQuery Sparkline -->
    <!-- Chart Plugins -->
    <script src="~/js/plugin/chart.js/chart.min.js"></script> <!-- Chart.js -->
    <script src="~/js/plugin/chart-circle/circles.min.js"></script> <!-- Circle Chart -->
    <!-- Datatables -->
    <script src="~/js/plugin/datatables/datatables.min.js"></script>

    <!-- Notifications -->
    <script src="~/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

    <!-- Vector Maps -->
    <script src="~/js/plugin/jsvectormap/jsvectormap.min.js"></script>
    <script src="~/js/plugin/jsvectormap/world.js"></script>

    <!-- Sweet Alert -->
    <script src="~/js/plugin/sweetalert/sweetalert.min.js"></script>

    <!-- Kaiadmin JS (ต้องโหลดหลังปลั๊กอินอื่นๆ เพราะอาจใช้งานปลั๊กอินที่โหลดด้านบน) -->
    <script src="~/js/kaiadmin.min.js"></script>
    <script>
        var menuNames = @Html.Raw(JsonSerializer.Serialize(menuNames));
        console.log("MenuNames:", menuNames);
    </script>
    <!-- Custom Inline Scripts -->
    <script>
        // Example: Sparkline Charts Initialization
        $(document).ready(function () {
            $("#lineChart").sparkline([102, 109, 120, 99, 110, 105, 115], {
                type: "line",
                height: "70",
                width: "100%",
                lineWidth: "2",
                lineColor: "#177dff",
                fillColor: "rgba(23, 125, 255, 0.14)",
            });

            $("#lineChart2").sparkline([99, 125, 122, 105, 110, 124, 115], {
                type: "line",
                height: "70",
                width: "100%",
                lineWidth: "2",
                lineColor: "#f3545d",
                fillColor: "rgba(243, 84, 93, .14)",
            });

            $("#lineChart3").sparkline([105, 103, 123, 100, 95, 105, 115], {
                type: "line",
                height: "70",
                width: "100%",
                lineWidth: "2",
                lineColor: "#ffa534",
                fillColor: "rgba(255, 165, 52, .14)",
            });
        });
    </script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>



  @* <div class="sidebar-wrapper scrollbar scrollbar-inner">
                <div class="sidebar-content">
                    <ul class="nav nav-secondary">
                        <li class="nav-section">
                            <span class="sidebar-mini-icon">
                                <i class="fa fa-ellipsis-h"></i>
                            </span>
                            <h4 class="text-section">Home</h4>
                        </li>
                        <li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Home" &&
                      ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "active" : "")">
                            <a asp-controller="Home" asp-action="Index">
                                <i class="fas fa-home"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <li class="nav-section">
                            <span class="sidebar-mini-icon">
                                <i class="fa fa-ellipsis-h"></i>
                            </span>
                            <h4 class="text-section">Operation</h4>
                        </li>
                        <li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Operation" &&
                      (ViewContext.RouteData.Values["action"]?.ToString() == "BookingRequest" ||ViewContext.RouteData.Values["action"]?.ToString() == "RequestForm"  )  ? "active" : "")">
                            <a asp-controller="Operation" asp-action="BookingRequest">
                                <i class="icon-note"></i>
                                <p>Vehicle booking request</p>
                            </a>
                        </li>
                        <li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Operation" &&
                      (ViewContext.RouteData.Values["action"]?.ToString() == "ReceivingBooking" ||ViewContext.RouteData.Values["action"]?.ToString() == "ReceivingBookingForm"  )  ? "active" : "")">
                            <a asp-controller="Operation" asp-action="ReceivingBooking">
                                <i class="icon-book-open"></i>
                                <p>Receiving booking</p>
                            </a>
                        </li>
                        <li class="nav-section">
                            <span class="sidebar-mini-icon">
                                <i class="fa fa-ellipsis-h"></i>
                            </span>
                            <h4 class="text-section">Master</h4>
                        </li>
                        <li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Master" &&
                      ViewContext.RouteData.Values["action"]?.ToString() == "Customers" ? "active" : "")">
                            <a asp-controller="Master" asp-action="Customers">
                                <i class="icon-people"></i>
                                <p> Custommers</p>
                            </a>
                        </li>
                        <li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Master" &&
                      ViewContext.RouteData.Values["action"]?.ToString() == "TruckType" ? "active" : "")">
                            <a asp-controller="Master" asp-action="TruckType">
                                <i class="icon-grid"> </i>
                                <p>Truck Type</p>

                            </a>
                        </li>
                        <li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Master" &&
                      ViewContext.RouteData.Values["action"]?.ToString() == "Temp" ? "active" : "")">
                            <a asp-controller="Master" asp-action="Temp">
                                <i class="icon-grid"> </i>
                                <p>Temp</p>

                            </a>
                        </li>
                        <li class="nav-item  @(ViewContext.RouteData.Values["controller"]?.ToString() == "Master" &&
                      ViewContext.RouteData.Values["action"]?.ToString() == "LoadType" ? "active" : "")">
                            <a asp-controller="Master" asp-action="LoadType">
                                <i class="bi bi-car-front">
                                    <img src="~/img/minecart-loaded.svg" alt="Car Icon" style="width: 20px; height: 20px; ">
                                </i>
                                <p>Load Type</p>
                            </a>
                        </li>
                        <li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Master" &&
                      ViewContext.RouteData.Values["action"]?.ToString() == "Vehicles" ? "active" : "")">
                            <a asp-controller="Master" asp-action="Vehicles">
                                <i class="bi bi-car-front">
                                    <img src="~/img/car-front.svg" alt="Car Icon" style="width: 20px; height: 20px; ">
                                </i>
                                <p>Vehicles</p>
                            </a>
                        </li>
                        <li class="nav-section">
                            <span class="sidebar-mini-icon">
                                <i class="fa fa-ellipsis-h"></i>
                            </span>
                            <h4 class="text-section">Admin</h4>
                        </li>
                        <li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Admin" &&
                      ViewContext.RouteData.Values["action"]?.ToString() == "Departments" ? "active" : "")">
                            <a asp-controller="Admin" asp-action="Departments">
                                <i class="icon-social-dropbox"></i>
                                <p>Departments</p>
                            </a>
                        </li>
                        <li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Admin" &&
                      ViewContext.RouteData.Values["action"]?.ToString() == "Roles" ? "active" : "")">
                            <a asp-controller="Admin" asp-action="Roles">
                                <i class="icon-layers"></i>
                                <p>Roles</p>
                            </a>
                        </li>
                        <li class="nav-item @(ViewContext.RouteData.Values["controller"]?.ToString() == "Admin" &&
                      ViewContext.RouteData.Values["action"]?.ToString() == "Users" ? "active" : "")">
                            <a asp-controller="Admin" asp-action="Users">
                                <i class="icon-user"></i>
                                <p> Users</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div> *@
