@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BookTruckWeb.Models.DTO.ReceivingBookingViewModel
@Html.AntiForgeryToken()
<head>
    <!-- เพิ่ม CSS สำหรับการไฮไลต์แถว -->
    <style>
        #customer-table tbody tr.selected {
            background-color: #f8d7da; /* สีชมพูอ่อน */
            color: #721c24; /* สีตัวอักษรแดง */
        }
    </style>
</head>

<div class="page-inner">
    <div class="page-header">
        <h3 class="fw-bold mb-3">Request Form</h3>
        <ul class="breadcrumbs mb-3">
            <li class="nav-home">
                <a href="#">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a href="#">Operation</a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a href="#">Vehicle booking request</a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a href="#">New Request Form</a>
            </li>
        </ul>
    </div>
    <div class="row">

        <!-- Scrollable modal -->
        <!-- Modal -->
        <div class="modal fade" id="scrollableModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalScrollableTitle">กรุณาเลือกลูกค้า</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table id="customer-table" class="table table-hover">
                                <thead class="table-dark">
                                    <tr>
                                        <th>No.</th>
                                        <th>รหัสลูกค้า</th>
                                        <th>ชื่อลูกค้า</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- ข้อมูลจะแสดงที่นี่ -->
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                onclick="$('#scrollableModal').modal('hide')">
                            ปิด
                        </button>
                        <button id="select-btn" type="button" class="btn btn-primary">เลือก</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal -->

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">From Requester Job No : @Model.JobNo</div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-lg-5">
                            <div class="form-group">
                                <label for="defaultSelect">หัวข้อ</label>
                                <input type="text"
                                       class="form-control"
                                       readonly
                                       id="title"
                                       placeholder="title" />

                            </div>
                            <div class="form-group">
                                <label for="defaultSelect">แผนก</label>
                                <input type="text"
                                       class="form-control"
                                       readonly
                                       id="department_id"
                                       placeholder="รหัสลูกค้าและ Enter เพื่อเลือก" />

                            </div>
    
                            <div hidden class="form-group">
                                <div  class="row">
                                    <div hidden class="col">

                                        <input type="text"
                                               class="form-control"
                                               hidden
                                               id="row_id"
                                               placeholder="รหัสลูกค้าและ Enter เพื่อเลือก" />

                                        <input type="text"
                                               hidden
                                               id="customer_row" />
                                        <label for="defaultSelect">รหัสลูกค้า</label>
                                        <input type="text"
                                               class="form-control"
                                               readonly
                                               id="customers_id"
                                               placeholder="รหัสลูกค้าและ Enter เพื่อเลือก" />

                                    </div>
                                    <div hidden class="col">

                                        <label for="defaultSelect">ชื่อลูกค้า</label>
                                        <input type="text"
                                               class="form-control"
                                               readonly
                                               id="customers_name"
                                               placeholder=".." />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="defaultSelect">ประเภทรถ</label>
                                <input type="text"
                                       class="form-control"
                                       readonly
                                       id="trucktype_id"
                                       placeholder=".." />

                            </div>
                            <div class="form-group">
                                <label for="defaultSelect">Temp</label>
                                <input type="text"
                                       class="form-control"
                                       readonly
                                       id="temp_id"
                                       placeholder="typeload_id" />
                            </div>
                            <div class="form-check">
                                <input class="form-check-input"
                                       type="checkbox"
                                       value=""
                                       disabled
                                       id="backhual" />
                                <label class="form-check-label"

                                       for="flexCheckDefault">
                                    Backhual
                                </label>
                            </div>
                            <div class="form-group">
                                <label hidden for="email2">Origin</label>
                                <input type="text"
                                       class="form-control"
                                       id="origin"
                                       hidden
                                       readonly
                                       placeholder="Enter Origin" />
                            </div>
                            <div class="form-group">
                                <label for="loading">วันเวลา Loading</label>
                                <input id="loading" disabled class="form-control" type="datetime-local" data-date="" data-date-format="DD MMMM YYYY HH:mm" value="">
                            </div>
                            <div class="form-group">
                                <label hidden for="comment">Destination</label>
                                <textarea  hidden disabled class="form-control" id="destination" rows="5"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="eta">ETA to store</label>
                                <input id="eta" disabled class="form-control" type="datetime-local" data-date="" data-date-format="DD MMMM YYYY HH:mm" value="">
                            </div>
                        </div>
                        <div class="col-md-5 col-lg-5">


                            <div class="form-group">
                                <label for="defaultSelect">ประเภท Load</label>
                                <input type="text"
                                       class="form-control"
                                       disabled
                                       id="typeload_id"
                                       placeholder="typeload_id" />
                            </div>
                            <div hidden class="form-group">
                                <label for="email2">QTY</label>
                                <input type="number"
                                       class="form-control"
                                       disabled
                                       id="qty"
                                       placeholder="Enter QTY" />
                            </div>
                            <div hidden class="form-group">
                                <label for="email2">Weight</label>
                                <input type="number"
                                       class="form-control"
                                       disabled
                                       id="weight"
                                       placeholder="Enter Weight" />
                            </div>
                            <div hidden class="form-group">
                                <label for="email2">CBM</label>
                                <input type="number"
                                       class="form-control"
                                       disabled
                                       id="cbm"
                                       placeholder="Enter CBM" />
                            </div>
                            <div class="form-group">
                                <label for="email2">ขอเพิ่มเด็กติดรถ</label>
                                <input type="number"
                                       class="form-control"
                                       disabled
                                       id="man"
                                       placeholder="Enter number" />
                            </div>
                            <div class="form-check d-flex gap-3">
                                <div class="col">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           value=""
                                           disabled
                                           id="handjack" />
                                    <label class="form-check-label"
                                           for="flexCheckDefault">
                                        Handjack
                                    </label>
                                </div>
                                <div class="col">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           value=""
                                           disabled
                                           id="cart" />
                                    <label class="form-check-label"
                                           for="flexCheckDefault">
                                        Cart
                                    </label>
                                </div>
                                <div class="col">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           value=""
                                           disabled
                                           id="cardboard" />
                                    <label class="form-check-label"
                                           for="flexCheckDefault">
                                        Cardboard
                                    </label>
                                </div>
                                <div class="col">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           value=""
                                           disabled
                                           id="foam_box" />
                                    <label class="form-check-label"
                                           for="flexCheckDefault">
                                        Foam Box
                                    </label>
                                </div>
                                <div class="col">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           value=""
                                           disabled
                                           id="dry_ice" />
                                    <label class="form-check-label"
                                           for="flexCheckDefault">
                                        Dry Ice
                                    </label>
                                </div>

                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="comment">Comment</label>
                                    <textarea disabled class="form-control" id="comment" rows="5"></textarea>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="defaultSelect">Assign To</label>
                                    <input type="text"
                                           class="form-control"
                                           disabled
                                           id="assign"
                                           placeholder="Assign" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex align-items-center">
                                        <h4 class="card_title">รายละเอียดงาน</h4>

                                    </div>
                                </div>
                                <div class="row">

                                    <div class="table-responsive">
                                        <table id="dataTable"
                                               class="display table ">
                                            <thead>
                                                <tr>

                                                    <th>No.</th>
                                                    <th>รหัสลูกค้า</th>
                                                    <th>ลูกค้า</th>
                                                    <th>Origin</th>
                                                    <th>Destination</th>
                                                    <th>QTY</th>
                                                    <th>Weight</th>
                                                    <th>CBM</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
               

              
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="card-body"  class="card">
                        <div class="card-header">
                            <div class="card-title">ข้อมูลรถที่อนุมัติ</div>
                        </div>
                        <div class="card-body">
                            <div class="col-md-4 col-lg-5">
                                <div class="row">
                                    <!-- License -->
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="carDropdown">รถ</label>
                                            <input type="text"
                                                   disabled
                                                   class="form-control"
                                                   id="carName"
                                                   value="-"
                                                   placeholder="" />
                   @*                          <select class="form-select form-control" id="carDropdown" onchange="onChangeCar(this)">
                                                <option value="">-- Select a Car --</option>
                                            </select> *@
                                        </div>
                                    </div>
                                    <!-- Truck Type -->
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="sub">ทะเบียนรถ</label>
                                            <input type="text"
                                                   disabled
                                                   class="form-control"
                                                   id="carshow"
                                                   value="-"
                                                   placeholder="" />
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email2">ชื่อผู้ขับ</label>
                                    <input type="text"
                                           class="form-control"
                                           id="driver"
                                           disabled
                                           placeholder="" />
                                    <label for="email2">SUB</label>
                                    <input type="text"
                                           class="form-control"
                                           id="sub"
                                           disabled
                                           placeholder="" />
                                    <label for="email2">เบอร์ติดต่อ</label>
                                    <input type="text"
                                           class="form-control"
                                           id="tel"
                                           disabled
                                           placeholder="" />
                                </div>
                                <div hidden class="form-group">
                                    <div class="row">
                                        <div class="col">
                                            <label for="email2">ต้นทุนค่าเที่ยวโดยประมาณ</label>
                                            <input type="number"
                                                   class="form-control"
                                                   disabled
                                                   id="cost"
                                                   placeholder="Enter cost" />
                                        </div>
                                        <div class="col">
                                            <label for="email2">ระยะไปกลับ KM</label>
                                            <input type="number"
                                                   class="form-control"
                                                   disabled
                                                   id="km"
                                                   placeholder="Enter KM" />
                                        </div>
                                    </div>
                                </div>
                            
                            </div>

                            <div class="card-action">
                                @* <button onclick="saveConfirm()" id="confirmButton" class="btn btn-success">รับเรื่อง / รับทราบ</button> *@
                                <button onclick="window.history.back()" class="btn btn-danger">ย้อนกลับ</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script>

          window.AppUrls = {
            getTicketsFrmJobNoUrl: '@Url.Action("GetTicketsViewJobNo", "Tickets")',
             setConfirmUrl: '@Url.Action("UpdateTicketsStatus", "Tickets")',
            baseUrl: '@Url.Content("~")'
        };
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const today = moment().format("YYYY-MM-DDTHH:mm");

            // ตั้งค่าวันที่ปัจจุบันสำหรับ Loading
            const startDateInput = document.querySelector("#loading");
            startDateInput.value = today;
            startDateInput.setAttribute(
                "data-date",
                moment(today, "YYYY-MM-DDTHH:mm").format(startDateInput.getAttribute("data-date-format"))
            );

            const eta = document.querySelector("#eta");
            eta.value = today;
            eta.setAttribute(
                "data-date",
                moment(today, "YYYY-MM-DDTHH:mm").format(eta.getAttribute("data-date-format"))
            );

        });

        // อัปเดต data-date เมื่อเปลี่ยนแปลงค่า
        $("input[type='date']").on("change", function () {
            this.setAttribute(
                "data-date",
                moment(this.value, "YYYY-MM-DD").format(this.getAttribute("data-date-format"))
            );
        }).trigger("change");
    </script>

    <script src="~/js/notify.js"></script>
    <script src="~/js/page/requestFormShow.js"></script>
}
}