@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@Html.AntiForgeryToken()

<head>
    <!-- เพิ่ม CSS สำหรับการไฮไลต์แถว -->
    <style>
        #customer-table tbody tr.selected {
            background-color: #f8d7da; /* สีชมพูอ่อน */
            color: #721c24; /* สีตัวอักษรแดง */
        }
    </style>
</head>

<div class="page-inner">
    <div class="page-header">
        <h3 class="fw-bold mb-3">Request Form</h3>
        <ul class="breadcrumbs mb-3">
            <li class="nav-home">
                <a href="#">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a href="#">Operation</a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a href="#">Vehicle booking request</a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a href="#">New Request Form</a>
            </li>
        </ul>
    </div>
    <div class="row">

        <!-- Scrollable modal -->
        <!-- Modal -->
        <div class="modal fade" id="scrollableModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalScrollableTitle">กรุณาเลือกลูกค้า</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table id="customer-table" class="table table-hover">
                                <thead class="table-dark">
                                    <tr>
                                        <th>No.</th>
                                        <th>รหัสลูกค้า</th>
                                        <th>ชื่อลูกค้า</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- ข้อมูลจะแสดงที่นี่ -->
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                onclick="$('#scrollableModal').modal('hide')">
                            ปิด
                        </button>
                        <button id="select-btn" type="button" class="btn btn-primary">เลือก</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal -->

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Form Elements</div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-lg-5">
                            <div class="form-group">
                                <label for="defaultSelect">แผนก</label>
                                <select class="form-select form-control"
                                        id="department_id">
                                    <option value="">-- Select an option --</option>
                                </select>
                            </div>
                            @* <select class="form-select form-control" *@
                            @*         id="customers_id"> *@
                            @*     <option value="">-- Select an option --</option> *@
                            @* </select> *@
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <input type="text"
                                               hidden
                                               id="customer_row"
                                               />

                                        <input type="text"
                                               class="form-control"
                                               id="customers_id"
                                               hidden
                                               placeholder="รหัสลูกค้าและ Enter เพื่อเลือก" />

                                        <label for="defaultSelect">รหัสลูกค้า</label>
                                        <input type="text"
                                               class="form-control"
                                               id="customers_code"
                                               placeholder="รหัสลูกค้าและ Enter เพื่อเลือก" />

                                    </div>
                                    <div class="col">

                                        <label for="defaultSelect">ชื่อลูกค้า</label>
                                        <input type="text"
                                               class="form-control"
                                               readonly
                                               id="customers_name"
                                               placeholder=".." />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="defaultSelect">Truck Type</label>
                                <select class="form-select form-control"
                                        id="trucktype_id">
                                    <option value="">-- กรุณาเลือก --</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="defaultSelect">Temp</label>
                                <select class="form-select form-control"
                                        id="temp_id">
                                    <option value="">-- กรุณาเลือก --</option>
                                </select>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input"
                                       type="checkbox"
                                       value=""
                                       id="backhual" />
                                <label class="form-check-label"
                                       for="flexCheckDefault">
                                    Backhual
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="email2">Origin</label>
                                <input type="text"
                                       class="form-control"
                                       id="origin"
                                       placeholder="Enter Origin" />
                            </div>
                            <div class="form-group">
                                <label for="loading">วันเวลา Loading</label>
                                <input id="loading" class="form-control" type="datetime-local" data-date="" data-date-format="DD MMMM YYYY HH:mm" value="">
                            </div>
                            <div class="form-group">
                                <label for="comment">Destination</label>
                                <textarea class="form-control" id="destination" rows="5"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="eta">ETA to store</label>
                                <input id="eta" class="form-control" type="datetime-local" data-date="" data-date-format="DD MMMM YYYY HH:mm" value="">
                            </div>
                        </div>
                        <div class="col-md-5 col-lg-5">


                            <div class="form-group">
                                <label for="defaultSelect">Type Load</label>
                                <select class="form-select form-control"
                                        id="typeload_id">
                                    <option value="">-- กรุณาเลือก --</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="email2">QTY</label>
                                <input type="number"
                                       class="form-control"
                                       id="qty"
                                       placeholder="Enter QTY" />
                            </div>
                            <div class="form-group">
                                <label for="email2">Weight</label>
                                <input type="number"
                                       class="form-control"
                                       id="weight"
                                       placeholder="Enter Weight" />
                            </div>
                            <div class="form-group">
                                <label for="email2">CBM</label>
                                <input type="number"
                                       class="form-control"
                                       id="cbm"
                                       placeholder="Enter CBM" />
                            </div>
                            <div class="form-group">
                                <label for="email2">ขอเพิ่มเด็กติดรถ</label>
                                <input type="number"
                                       class="form-control"
                                       id="man"
                                       placeholder="Enter number" />
                            </div>
                            <div class="form-check d-flex gap-3">
                                <div class="col">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           value=""
                                           id="handjack" />
                                    <label class="form-check-label"
                                           for="flexCheckDefault">
                                        Handjack
                                    </label>
                                </div>
                                <div class="col">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           value=""
                                           id="cart" />
                                    <label class="form-check-label"
                                           for="flexCheckDefault">
                                        Cart
                                    </label>
                                </div>
                                <div class="col">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           value=""
                                           id="cardboard" />
                                    <label class="form-check-label"
                                           for="flexCheckDefault">
                                        Cardboard
                                    </label>
                                </div>
                                <div class="col">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           value=""
                                           id="foam_box" />
                                    <label class="form-check-label"
                                           for="flexCheckDefault">
                                        Foam Box
                                    </label>
                                </div>
                                <div class="col">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           value=""
                                           id="dry_ice" />
                                    <label class="form-check-label"
                                           for="flexCheckDefault">
                                        Dry Ice
                                    </label>
                                </div>

                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="comment">Comment</label>
                                    <textarea class="form-control" id="comment" rows="5"></textarea>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="defaultSelect">Assign To</label>
                                    <select class="form-select form-control"
                                            id="assign">
                                        <option value="">-- Select an option --</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card-action">
                    <button onclick="saveRequestFrom()" class="btn btn-success">Submit</button>
                    <button onclick="window.history.back()" class="btn btn-danger">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script>

          window.AppUrls = {
            getDepartmentsUrl: '@Url.Action("GetDepartments", "Departments")',
            getCustomerWid: '@Url.Action("GetCustomersWhereId", "Customers")',
            getCustomersUrl: '@Url.Action("GetCustomers", "Customers")',
            getVehiclesTypesUrl: '@Url.Action("GetVehiclesTypes", "VehiclesTypes")',
            getGetLoadTypeUrl: '@Url.Action("GetLoadType", "LoadType")',
            getTempsUrl: '@Url.Action("GetTemps", "Tamps")',
            addRequestUrl: '@Url.Action("AddTicketsFrmRequester", "Tickets")',
            getAssignUrl: '@Url.Action("GetAssign", "Users")',
            baseUrl: '@Url.Content("~")'
        };
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const today = moment().format("YYYY-MM-DDTHH:mm");

            // ตั้งค่าวันที่ปัจจุบันสำหรับ Loading
            const startDateInput = document.querySelector("#loading");
            startDateInput.value = today;
            startDateInput.setAttribute(
                "data-date",
                moment(today, "YYYY-MM-DDTHH:mm").format(startDateInput.getAttribute("data-date-format"))
            );

            const eta = document.querySelector("#eta");
            eta.value = today;
            eta.setAttribute(
                "data-date",
                moment(today, "YYYY-MM-DDTHH:mm").format(eta.getAttribute("data-date-format"))
            );

        });

        // อัปเดต data-date เมื่อเปลี่ยนแปลงค่า
        $("input[type='date']").on("change", function () {
            this.setAttribute(
                "data-date",
                moment(this.value, "YYYY-MM-DD").format(this.getAttribute("data-date-format"))
            );
        }).trigger("change");
    </script>

    <script src="~/js/notify.js"></script>
    <script src="~/js/page/requestform.js"></script>
}
}